name: "SWM GitHub Actions Basic"

on: push

env:
  GLOBAL_LEVEL: "This value comes from the GLOBAL level"

jobs:
  first-job:
    name: "First Job"

    # 우분투에서 돌아라
    runs-on: ubuntu-latest

    env:
      JOB_LEVEL_1: "This value comes from the JOB level 1"

    steps:
      # yml에서 '-' 는 배열 중 하나의 요소를 뜻한다.
      - name: Say Hello World 1
        shell: bash
        run: |
          echo "Hello World from step 1"
          echo "Global level : ${{env.GLOBAL_LEVEL}}"
          echo "STEP level : ${{env.STEP_LEVEL_1}}"
          echo "JOB level : ${{env.JOB_LEVEL_1}}"

        env:
          STEP_LEVEL_1: "This value comes from the STEP level 1"

      - name: Say Hello World 2
        shell: pwsh
        run: |
          echo "Hello World from step 2"
        env:
          STEP_LEVEL_2: "This value comes from the STEP level 2"

      - name: Set environment variable 1
        shell: bash
        run: |
          echo "STEPSET_VALUE_1='This is the value 1 set in the step'" >> $GITHUB_ENV

      - name: Set environment variable 2
        shell: pwsh
        run: |
          echo "STEPSET_VALUE_2='This is the value 2 set iin the step'" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf-8 -Append

      - name: Get environment variables in PowerShell
        shell: pwsh
        run: |
          echo "Value 1 : $env:STEPSET_VALUE_1"
          echo "Value 2 : $env:STEPSET_VALUE_2"

      - name: Get environment variables in Bash
        shell: bash
        run: |
          echo "Value 1 : $STEPSET_VALUE_1"
          echo "Value 2 : $STEPSET_VALUE_2"
      - name: Set output value
        id: first
        shell: bash
        run: |
          first_value="This is the value for the first output"

          echo "::add-mask::$first_value"

          echo "first_value_2=$first_value" >> $GITHUB_OUTPUT

      - name: Get output value
        shell: bash
        run: |
          echo "steps.first.outputs.first_value_1 = ${{steps.first.outputs.first_value_1}}"
          echo "steps.first.outputs.first_value_2 = ${{steps.first.outputs.first_value_2}}"

  second-job:
    name: "Second Job"

    # 우분투에서 돌아라
    runs-on: ubuntu-latest

    env:
      JOB_LEVEL_2: "This value comes from the JOB level 2"

    steps:
      # yml에서 '-' 는 배열 중 하나의 요소를 뜻한다.
      - name: Say Hello World 1
        shell: bash
        run: |
          echo "Hello World from step 1"

        env:
          STEP_LEVEL_1: "This value comes from the STEP level 1"

      - name: Say Hello World 2
        shell: pwsh
        run: |
          echo "Hello World from step 2"
        env:
          STEP_LEVEL_2: "This value comes from the STEP level 2"
